---
import Header from '../components/Header.astro';
const topic = 'Index';

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Homepage";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{topic}</title>

		<style>
            body {
                background: slateblue;
            }
        </style>


	</head>
	<body>

		<Header />

		<h1>{topic}</h1>

		<BaseLayout pageTitle={pageTitle}>

			<h2>Homepage</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium veniam dolorem consectetur sint quibusdam esse corrupti eligendi ipsum iste harum perferendis ducimus consequuntur, modi, voluptates neque. Sequi, exercitationem dolor.</p>
		  
		</BaseLayout>










	</body>
</html>
